html {
    background-color:antiquewhite;
}

.dragme{
    position:relative;
    cursor: move;
}
#draggable {
    background-color: #ccc;
    border: 1px solid #000;
}
.welcome {
    color:red;
    font-size:75px;
    padding-left:250px;
    top:50px;
    right:50px;
    position:fixed;
  }

  .words {
    position:absolute;
    left:150px;
    top:200px;
  }

  button {
    top:0px;
    left:200px;
  }