.nav {
  background-color:hotpink;
  width:115px;
  padding:10px;
  text-align:center;
  font-size:13px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position:absolute;
  bottom:0;
}

body {
  overflow: hidden;
  background-color:rgb(234, 234, 234);
  background-image:url("clouds.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body .container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  margin: -150px -250px;
  margin-left:50px;
  margin-top:50px;
  counter-reset: tab-counter 5;
}
body .container input[type=radio] {
  display: none;
}
body .container input[type=radio]:checked + label ~ label:nth-child(2) {
  width: 78px;
}
body .container input[type=radio]:checked + label ~ label:nth-child(2) .content {
  -webit-transition: opacity 0.4s cubic-bezier(0.11, 0.65, 0.04, 1);
  transition: opacity 0.4s cubic-bezier(0.11, 0.65, 0.04, 1);
  opacity: 0;
  pointer-events: none;
}
body .container input[type=radio] + label {
  position: absolute;
  height: 100%;
  box-shadow: 2px 0px 4px -2px #000;
  cursor: pointer;
  -webit-transition: width 1.2s cubic-bezier(0.11, 0.65, 0.04, 1);
  transition: width 1.2s cubic-bezier(0.11, 0.65, 0.04, 1);
}
body .container input[type=radio] + label:nth-child(2) {
  box-shadow: none;
}
body .container input[type=radio] + label:nth-child(2) {
  width: 500px;
  background: yellow;
}
body .container input[type=radio] + label .content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 250px;
  margin-left: -125px;
  counter-increment: tab-counter -1;
  text-align: center;
}
body .container input[type=radio]:checked + label ~ label:nth-child(4) {
  width: 54px;
}
body .container input[type=radio]:checked + label ~ label:nth-child(4) .content {
  -webit-transition: opacity 0.4s cubic-bezier(0.11, 0.65, 0.04, 1);
  transition: opacity 0.4s cubic-bezier(0.11, 0.65, 0.04, 1);
  opacity: 0;
  pointer-events: none;
}
body .container input[type=radio] + label {
  position: absolute;
  height: 100%;
  box-shadow: 2px 0px 4px -2px #000;
  cursor: pointer;
  -webit-transition: width 1.2s cubic-bezier(0.11, 0.65, 0.04, 1);
  transition: width 1.2s cubic-bezier(0.11, 0.65, 0.04, 1);
}
body .container input[type=radio] + label:nth-child(2) {
  box-shadow: none;
}
body .container input[type=radio] + label:nth-child(4) {
  width: 476px;
  background: blue;
}
body .container input[type=radio] + label:nth-child(4):after {
  position: absolute;
  content: "";
  top: 50%;
  left: 100%;
  width: 18px;
  height: 75px;
  border-radius: 0 7.5px 7.5px 0;
  background: blue;
  box-shadow: 3px 0px 6px -3px #000;
}
body .container input[type=radio] + label .content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 250px;
  margin-left: -125px;
  counter-increment: tab-counter -1;
  text-align: center;
}
body .container input[type=radio]:checked + label ~ label:nth-child(6) {
  width: 30px;
}
body .container input[type=radio]:checked + label ~ label:nth-child(6) .content {
  -webit-transition: opacity 0.4s cubic-bezier(0.11, 0.65, 0.04, 1);
  transition: opacity 0.4s cubic-bezier(0.11, 0.65, 0.04, 1);
  opacity: 0;
  pointer-events: none;
}
body .container input[type=radio] + label {
  position: absolute;
  height: 100%;
  box-shadow: 2px 0px 4px -2px #000;
  cursor: pointer;
  -webit-transition: width 1.2s cubic-bezier(0.11, 0.65, 0.04, 1);
  transition: width 1.2s cubic-bezier(0.11, 0.65, 0.04, 1);
}
body .container input[type=radio] + label:nth-child(2) {
  box-shadow: none;
}
body .container input[type=radio] + label:nth-child(6) {
  width: 452px;
  background: green;
}
body .container input[type=radio] + label:nth-child(6):after {
  position: absolute;
  content: "";
  top: 25%;
  left: 100%;
  width: 18px;
  height: 75px;
  border-radius: 0 7.5px 7.5px 0;
  background: green;
  box-shadow: 3px 0px 6px -3px #000;
}
body .container input[type=radio] + label .content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 250px;
  margin-left: -125px;
}
body .container input[type=radio]:checked + label ~ label:nth-child(8) {
  width: 6px;
}
body .container input[type=radio]:checked + label ~ label:nth-child(8) .content {
  -webit-transition: opacity 0.4s cubic-bezier(0.11, 0.65, 0.04, 1);
  transition: opacity 0.4s cubic-bezier(0.11, 0.65, 0.04, 1);
  opacity: 0;
  pointer-events: none;
}
body .container input[type=radio] + label {
  position: absolute;
  height: 100%;
  box-shadow: 2px 0px 4px -2px #000;
  cursor: pointer;
  -webit-transition: width 1.2s cubic-bezier(0.11, 0.65, 0.04, 1);
  transition: width 1.2s cubic-bezier(0.11, 0.65, 0.04, 1);
}
body .container input[type=radio] + label:nth-child(2) {
  box-shadow: none;
}
body .container input[type=radio] + label:nth-child(8) {
  width: 428px;
  background: red;
}
body .container input[type=radio] + label:nth-child(8):after {
  position: absolute;
  content: "";
  top: 0%;
  left: 100%;
  width: 18px;
  height: 75px;
  border-radius: 0 7.5px 7.5px 0;
  background: red;
  box-shadow: 3px 0px 6px -3px #000;
}
body .container input[type=radio] + label .content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 250px;
  margin-left: -125px;
  counter-increment: tab-counter -1;
  text-align: center;
}

#updates {
  font-size:12px;
  color:Text;
  text-align:center;
  height:20px;
  width:150px;
  padding:4px;
  bottom:0;
  z-index:10;
  position:fixed;
  overflow:hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

#updates:hover {
  height:150px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

#updatestitle {
  font-size:13px; 
  text-transform:uppercase; 
  background-color:blue; 
  font-weight:bold; 
  color:#ffffff;
}

h3 {
  color:rgb(255, 255, 255);
  font-size:35px;
  padding-left:25px;
}

h2 {
  color:blue;
  background-color:white;
}

.description {
  color:rgb(163, 37, 100);
  padding-left:25px;
  width:200px;
  position:absolute;
  bottom:40px;
}

.wrapper {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left:50px;
  padding-top:150px;
  padding-bottom:65px;
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 6px;
  background-color: #4eff2e;
  border-radius: 3px;
  color: #585858;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
  padding:25px;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #4eff2e;
  padding: 1em 2em;
}

.modal__footer {
  text-align: right;
  a {
    color: #585858;
  }
  i {
    color: #d02d2c;
  }
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}

.dates {
  background-color:white;
  font-size:20px;

}


.percy {
  color:blue;
  border-style:dashed;
  max-width:100px;
  margin-right:50px;
  padding:25px;
  margin-top:25px;
  margin-left:60px;
  text-align:right;
}

#bannerimage {
  width: 100%;
  background-image: url(clouds.jpg);
  height: 150px;
  background-color: purple;
  background-position: center;
  position:absolute;
}

.entries {
  margin-top:6px;
  width:50px;
  position:absolute;
  right:0;
  padding-right:90px;
  color:#496C96;
}

.entries:hover {
  color:yellow;
}

a {
  text-decoration: none;
  color:#4E719B;
}

a:hover {
  color:red;
  text-decoration:underline
}

.page {
  font-size:30px;
  color:yellow;
  text-align:right;
  padding-right:50px;
}

@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}
 
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

*{
	margin: 0;
	padding: 0;
	border: 0px none;
}


.button{
	display: inline-block;
	position: absolute;
	overflow: hidden;
	left: 80%;
	top: 40%;
  width: 200px;
	perspective:400px;
	background-color: transparent;
  
  -webkit-box-reflect: below 0px
  -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.3)));
  
}
.button span{
	display: block;
	position: relative;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
	background-color: green;
  transform-style:preserve-3d;
	color: white;
  width: 50%;

}
.button span:after{
	display: block;
	content: attr(data-title);
	position: absolute;
	left: 0;
	top: 0;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
	transform:translate3d(0px,105%,0px) rotateX(-90deg);
	background-color: white;
	color: black;
  width: 100%;
}

.button:hover span{
	transform:translate3d(0px,0px,-30px) rotateX(90deg);
}

a{
  color:inherit;
  text-decoration: none;
}