* {
    box-sizing: border-box;
}

img {
    max-width:100%;}

body {
    margin: 0;
    padding: 0;
    background-color:rgb(176, 96, 162);
    font-family: "paralucent", sans-serif;
    font-weight: 300;
    font-style: normal;
    width:100vw;
    height:100%;
    overflow-x:none;
    overflow-y:scroll;
}

.bottom {
    border-top: rgb(222, 71, 190) 2.5px solid;
    background-color: rgb(28, 28, 28);
    width:100%;
    height: 125px;
    position: fixed;
    bottom: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: row;
}


a {
    color:rgb(222, 71, 190);
    text-decoration:none;
}

a:hover {
    color:yellow;
    text-decoration:underline;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Adjust as needed */
}


.item {
    flex: 1;
    padding: 10px;
    margin: 5px;
    color:white;
}

.background {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, auto);
    place-items: center; /* Center both horizontally and vertically */
    gap: 20px;
    width:100%;
    overflow-x:none;
    margin-top:50px;
    margin:20px;
    justify-content:center;
}

.item2 video {
    width:300px;
    height:auto;
    box-sizing: border-box;
    border-radius:15px;
}

.item2 {
    border-radius:5px white solid;
}

.channel {
    font-size:20px;
}

button {
    width:100px;
    position:absolute;
    left:10px;
    top:10px;
}

.text2 {
    position: relative;
    justify-content:center;
    top:50px;
    left:50%;
    border:3px solid black;
    width:50vw;
    transform: translateX(-50%);
    padding:10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.search {
    height:560px;
    position: relative;
    padding-bottom:1000px;
}

.secret-link {
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
    color:white;
    z-index:1;
  }
  
.container2:hover .secret-link {
    opacity: 1; /* Set opacity to 1 when container is hovered */
}
  
.container2 {
    top:40px;
    left:40%;
    position:relative;
    z-index:0;
}

.secret-link a:hover {
    color:yellow;
}

.diary {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

.diary {
    margin-bottom:50px;
    padding:50px;
    border:2px solid rgb(28, 28, 28);
    width:50%;
    height:40%;
}

button {
    width:100px;
    position:absolute;
    left:10px;
    top:10px;
    font-family: "paralucent", sans-serif;
    font-weight: 300;
    font-style: normal;
}