@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

body {
  background-image:url('roll.gif');
  margin: 0;
  font-family: "brevia", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-y: hidden;
}

button {
  background-color: #BDB5D5;
  color: white;
  border: 2px solid #7851A9;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-item {
  margin: 40px;
  box-sizing: border-box;
  text-align: center;
  line-height: 300px;
  font-size: 18px;
  width: 300px;
  height: 300px;
}

.flex-item img {    
  width: 300px;
  height: 300px;
}

h1 {
  font-size: 20px;
}

p {
  width: 170px;
  font-size: 13px;
}

.profile {  
  margin-left: 50px;
  margin-top: 50px;
}

.profile img {
  width: 100px;
  border: 5px dotted #7851A9;
}

.diary .secret-link {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: blueviolet;
  font-size:15px;
  bottom:50%;
  left:49%;
  right:20%;
  position:fixed;
  transform: translateX(-50%);
}

/* Style for revealing the link on hover */
.diary:hover .secret-link {
  opacity: 1;
}

.flex-item {
  margin: 40px;
  box-sizing: border-box;
  text-align: center;
  line-height: 300px;
  font-size: 18px;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border:1px solid black;
  border-radius:20px;
  padding:7px;
}


.flex-item img {    
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: rgba(255, 255, 255, 0.4);
  overflow: hidden; /* Added overflow property */
}

.flex-item:hover .overlay {
  opacity: 1;
}

.text {
  color: rgb(0, 0, 0);
  font-size: 12px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-wrap:wrap; 
}

/* Add this CSS to your existing stylesheet */
.flex-item:hover .overlay {
  opacity: 1;
}

.overlay .text {
  white-space: nowrap; /* Ensure text doesn't wrap */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis for long texts */
}

a {
  text-decoration:none;
  color:#7851A9;
}

a:hover {
  text-decoration:underline;
  
}

.nav-tab {
  position: absolute;
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  right:30px;
  top:30px;
  border:1px solid #7851A9;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 5px;
  padding: 10px;
}

.options button {
  width:100%;
  border-radius:15px;
  padding:5px;
  gap:10px;
}

.nav-tab:hover {
  background-color:#7851A9;
  color:white;
}

.sticky-note {
  position:absolute;
  left:250px;
}

.sticky-text {
  position:absolute;
  left:30px;
  top:55px;
  width:90%;
  font-size:13px;
}