@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }

  body {
    background-color:rgb(255, 247, 210);
    margin:0;
    font-family: "brevia", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-y:hidden;
  }

  button {
    background-color:#BDB5D5;
    color:white;
    border:2px solid #7851A9;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    position: absolute;
    margin-top:0;
    width:100%;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center; /* Set the height of each row */
}
.flex-item { /* Fixed width for each column */
    margin: 40px;
    box-sizing: border-box;
    text-align: center;
    line-height: 300px;
    font-size: 18px;
    width: 300px;
    height: 300px;
}

.flex-item img {    
  width: 300px;
  height: 300px;
}

h1 {
  font-size:20px;
}

p{
  width:170px;
  font-size:13px;
}
.profile {  
  margin-left:50px;
  margin-top:50px;
}

.profile img {
  width:100px;
  border:5px dotted #7851A9;
}


.diary .secret-link {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Style for revealing the link on hover */
.diary:hover .secret-link {
  opacity: 1;
}

.secret-link {
padding-left:10px;
color:blueviolet;
font-size:14px;
}