body, html {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "input-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding:0;
  overflow:hidden;
}

body {
  cursor: url('https://64.media.tumblr.com/c3df3e12f1c8adc3b0efb78020770055/tumblr_inline_mv6lucFRov1r63cto.png'), auto;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.center {
  display: flex;
  position:absolute;
    justify-content: center;
    align-items: center;
    padding-left:450px;
    padding-top:100px;
    margin:0 auto;
    max-width: 75%;
    min-width:50%;
}

.timeline {
  margin: 0px;
  overflow: hidden;
  list-style-type: none;
  height:400px;
  width:400px;
  overflow-y: auto;
  margin-top:175px;
}


.timeline .year {
  background: #000000;
  font-size: 20px;
  max-width: 100px;
  clear: both;
  margin: 1em auto 2em;
  color: white;
  text-align: center;
  border-radius:10px;
}

.timeline .year:hover {
  background:rgb(255, 0, 0);
}

.timeline .year:first-of-type {
  margin-top: 0 !important;
}
.timeline .event {
  position: relative;
  font-size:12px;
  text-align: center;
  float: right;
  clear: right;
  width: 45%;
  margin: 1em 2.5%;
  border-radius: 5px;
  list-style-type: none;
  display: block;
  padding: .4em;
  background: white;
  z-index: 15;
  color: #000000;
  border: 1px solid #9d9d9d;
  text-decoration: none;
  -webkit-transition: background .15s linear;
  -moz-transition: background .15s linear;
  -ms-transition: background .15s linear;
  -o-transition: background .15s linear;
  transition: background .15s linear;
}
.timeline .event.featured {
  width: 95% !important;
  background: #e8e8e8;
}
.timeline .event.featured:after, .timeline .event.featured:before {
  display: none;
}
@media all and (max-width: 600px) {
  .timeline .event {
    width: 85%;
  }
}
.timeline .event.offset-first {
  margin-top: -1.5em !important;
}
.timeline .event img {
  margin-top: 10px;
  max-width: 100%;
}
.timeline .event:hover {
  background: #e9e9e9;
}
.timeline .event:hover:after {
  background: #d31717;
}
.timeline .event:nth-of-type(2n) {
  float: left;
  clear: left;
}
@media all and (min-width: 600px) {
  .timeline .event:nth-of-type(2n) {
    margin-top: 2em;
  }
}
@media all and (min-width: 650px) {
  .timeline .event:after {
    display: block;
    content: ' ';
    height: 9px;
    width: 9px;
    background: #9d9d9d;
    border-radius: 50%;
    position: absolute;
    left: -5%;
    top: 1.5em;
    border: 2px solid white;
  }
}
.timeline .event:nth-child(2n):after {
  right: -5%;
  left: auto;
}

.padd {
  display: block;
  padding: 10px;
}
.padd.center {
  text-align: center;
}

.ad {
  display: block;
  background: rgba(50, 50, 50, 0.5);
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  font-weight: 800;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color:yellow;
}

.hidden {
  visibility: hidden;
}

.centering {
  padding-left:150px;
  padding-top:200px;
}

.buttons:hover {
  text-decoration: underline;
}

.buttons2:hover {
  text-decoration: underline;
}

.find:hover {
  font-style:italic;
}

.find {
  font-size:17px;
}

.flier {
	pointer-events: none;
}

.flier > * {
/* Adjust animation duration to change the element’s speed */
        animation: fly 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
  width:200px;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}

