* {
    box-sizing: border-box;
}

img {
    max-width:100%;
}

body {
    font-family: "citrine-variable", sans-serif;
    font-variation-settings: "wght" 400;
    font-size:15px;
  }

  body, html {
    background-color:rgb(104, 104, 104);
    color:white;
    animation: gradientAnimation 25s linear infinite;
    background: linear-gradient(135deg, #938e8a, #000, #a5a5a5, #000, #8B4513);
    background-size: 300% 300%;
    height:infinite;
}

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

.text1 {
    position:relative;
    left:50px;
    top:50px;
    text-align:center;
}

a {
    color:white;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

#tab {
  z-index:999;
  overflow:hidden;
  position:fixed;
  left:40px;
  top:50px;
  color:white;
  background:#a5a5a5;
  border:1px solid white;
  padding:10px;right:50px;top:72px;
  font-size:11px;text-align:center;
  width:80px;/*tab's width*/
  height:30px;/*title's width*/
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  font-family: "citrine-variable", sans-serif;
  font-variation-settings: "wght" 400;
}

#tab:hover {
  height:185px;
}

#tab a {
  color:white;
}

button {
  width:70px;
  position:fixed;
  left:40px;
  top:40px;
  font-size:11px;
  font-family: "citrine-variable", sans-serif;
  font-variation-settings: "wght" 400;
  background-color:#a5a5a5;
  color:white;
  border:1px solid white;
  padding:5px;
}