* {
    box-sizing: border-box;
}

img {
    max-width:100%;}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color:rgb(1, 1, 1);
  color:rgb(185, 185, 185);
  font-family: "epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:12px;
}

.container {
  display: flex;
  height: 100%;
  width:100%;
  margin:10px;
}

.righthalf {
  flex: 1;
  height: 90%;
  overflow-y: scroll;
  margin:100px;
  width:200px;
  border:1px solid white;
  padding:20px;
}

.lefthalf img {
    width:100%;
    height:auto;
    border:1px white solid;
    margin-bottom:10px;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
}

.righthalf img {
  width:100%;
  height:auto;
  border:1px white solid;
}

.content {
    justify-content: center;
}

.dates {
  text-align:right;
  right:70px;
  font-size:16px;
  position:absolute;
  bottom:100px;
  border:1px white solid;
  padding:5px;
  background-color:black;
  cursor:auto;
}

a {
  color:rgb(185, 185, 185);
  text-decoration:none;
}

a:hover {
  color:rgb(56, 84, 208);
  text-decoration:underline;
}

.content {
  width:200px;
  font-size:14px;
  left:50%;
  position:absolute;
  top:200px;
}

.secret-link {
  opacity: 0; /* Initially set opacity to 0 */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  color:white;
  z-index:1;
}

.container2:hover .secret-link {
  opacity: 1; /* Set opacity to 1 when container is hovered */
}

.container2 {
  top:50px;
  right:150px;
  position:absolute;
  z-index:0;
}

.dates button {
    background-color:black;
    color:white;
    border:none;
    cursor:pointer;
}