* {
    box-sizing: border-box;
}

img {
    max-width:100%;}

body, html {
        margin: 0;
        padding: 10px;
        height: 100%;
        overflow: hidden;
        font-family: "meloche", sans-serif;
        font-weight: 400;
        font-style: normal;
}

.container {
        display: flex;
        height: 100%;
   }

.side {
        height: 100%;
        padding-left:10px;
        overflow-y:auto;
}

#rightSide {
    border: 1px solid #e5e5e5;
    border-radius:20px;
    flex: 0.5;
    padding-left:15px;
}

#leftSide {
    flex: .8;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 columns */
    gap: 5px; /* Gap between grid items */
    width:97%;
  }
  
  .photo-grid img {
    width: 100%; /* Ensure images take up full width of their grid cell */
    height: auto; /* Maintain aspect ratio */
    border-radius:10px;
  }

h1 {
    font-size:25px;
}

h2 {
    font-size:18px;
}

.dates {
    text-align:right;
    right:50px;
    font-size:18px;
    position:absolute;
    bottom:50px;
}

.diary {
    position:absolute;
    margin-top:750px;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.diary:hover {
    opacity: 1;
    color:black;
}

a {
    color:black;
}

a:hover {
    color:rgb(87, 141, 192);
}

button {
    position:fixed;
    right:50px;
    bottom:200px;
    font-family: "meloche", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:white;
    border: 1.5px solid #000000;
    cursor:pointer;
}
