/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * meloche:
 *   - http://typekit.com/eulas/000000000000000077359630
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2024-04-12 20:08:31 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=lay6dsu&ht=tk&f=260&a=61308868&app=typekit&e=css");

@font-face {
font-family:"meloche";
src:url("https://use.typekit.net/af/17c7a5/000000000000000077359630/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/17c7a5/000000000000000077359630/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/17c7a5/000000000000000077359630/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-meleoche { font-family: "meloche",sans-serif; }
